.time-title {
    cursor: pointer;
    padding: 5px 30px;
    border: 1px solid black;
    font-weight: bolder;
}

.time-title:hover {
    background-color: rgb(208, 207, 207);
}

.switch button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
}

.switch button:nth-child(2) {
    border-right: 1px solid rgb(222,226,230);
    border-left: 1px solid rgb(222,226,230);
}

.switch button:hover {
    background-color: gainsboro;
}

.activeBtn {
    font-weight: bolder;
}

.ico_apm{
    width: 30px;
    height: 25px;
}