<div class="container">
    @if (lich$.length < soSan) { 
        <div class="text-center w-100" style="margin-top: 100px;">
            <div class="spinner-border" style="width: 100px; height: 100px" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
}
@else {
<div class="d-flex my-3 border-bottom">
    <div class="switch object-fit-fill border">
        <button [ngClass]="{'activeBtn': currentTab == 'all'}" (click)="getCurrentDB('all')">
            <img class="ico_apm" src="/assets/apm.png">
            Cả ngày (05:00 - 21:59)</button>
        <button [ngClass]="{'activeBtn': currentTab == 'am'}" (click)="getCurrentDB('am')">
            <img class="ico_apm" src="/assets/am.png">
            Sáng (05:00 - 11:59)</button>
        <button [ngClass]="{'activeBtn': currentTab == 'pm'}" (click)="getCurrentDB('pm')">
            <img class="ico_apm" src="/assets/pm.png">
            Chiều (12:00 - 21:59)</button>
    </div>
</div>
<div class="d-flex justify-content-around">
    @for (lich of lich$; track $index) {
    <div class="text-center">
        <h4 (click)="newBooking($index)" style="cursor: pointer; width: 160px" data-bs-toggle="modal"
            data-bs-target="#Modal">Sân {{$index + 1}}</h4>
        <div class="vstack">
            @for (item of lich; track $index) {
            <div (click)="getInfo(item)" class="time-title" data-bs-toggle="modal" data-bs-target="#Modal">
                {{item.checkIn}} - {{item.checkOut}}</div>}
        </div>
    </div>}
</div>}
</div>
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Đặt lịch trước sân {{selected}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="infoForm">
                    <div>
                        <label for="name" style="width: 120px" for="name">Họ tên:</label>
                        <input type="text" id="name" formControlName="nguoiDat">
                        @if (infoForm.get('nguoiDat')?.invalid && infoForm.get('nguoiDat').touched) {
                        <div class="text-danger">Thiếu thông tin</div>
                        }
                    </div>
                    <div class="my-2">
                        <label style="width: 120px" for="sdt">SĐT:</label>
                        <input list="sdt_lst" type="tel" (change)="getName(this.infoForm.get('sdt').value)"
                            formControlName="sdt" id="sdt">
                        @if (infoForm.get('sdt')?.invalid && infoForm.get('sdt').touched) {
                        <div class="text-danger">SĐT sai định dạng</div>
                        }
                        <datalist id="sdt_lst">
                            @for (sdt of sdt_lst; track $index) {
                            <option value="{{sdt}}"></option>
                            }
                        </datalist>
                    </div>
                    <div>
                        <label style="width: 120px" for="checkIn">Thời gian vào:</label>
                        <input type="time" formControlName="checkIn" id="checkIn">
                    </div>
                    <div class="my-2">
                        <label style="width: 120px" for="checkOut">Thời gian ra:</label>
                        <input type="time" formControlName="checkOut" id="checkOut">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="button" (click)="saveBooking()" data-bs-dismiss="modal" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>