<div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">
        Chi tiết thông tin khách hàng
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cập nhật</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
</div>
