<div class="row row-cols-auto justify-content-center my-auto">
    @for (san of sans$; track $index) {
    <div class="col mx-5">
        <div class="san">
            <div class="mx-auto my-3">
                Sân {{san.id}} - {{san.trangThai}}
            </div>
            @switch (san.trangThai) {
            @case ("Sẵn sàng") {
            <div class="mx-auto" style="margin-top: 80px;">Số giờ đã được thuê: {{san.activeHours}}</div>
            <div class="mx-auto mt-auto mb-3 p-2">
                <button (click)="datSan(san.id)" data-bs-toggle="modal" data-bs-target="#mainModal"
                    class="btn btn-primary">Đặt ngay</button>
            </div>
            }
            @case ("Đang hoạt động") {
            <div class="text-start ps-2 pt-4 mx-2 mt-4 fs-6 position-relative"
                style="background-color: rgb(166, 164, 196); min-width: 235px">
                <button (click)="edit(san.id, 'Đang hoạt động')" data-bs-toggle="modal" data-bs-target="#mainModal"
                    class="btn btn-info position-absolute top-0 start-50 translate-middle">Chỉnh sửa</button>
                <div class="fw-normal mb-2">
                    <span class="fw-bold">KH: </span>
                    {{san.chiTiet.nguoiDat}}
                    @if (san.chiTiet.VIP) { <img class="mb-2" width="25px" height="22px" src="\assets\vip.png"> }
                </div>
                <div class="fw-normal mb-2"><span class="fw-bold">SĐT: </span>{{san.chiTiet.sdt}}</div>
                <div class="fw-normal mb-2"><span class="fw-bold">Thời gian: </span>{{san.chiTiet.checkIn}}
                @if (san.checkOut != ''){ - {{san.chiTiet.checkOut}}}
                </div>
                <div class="fw-normal mb-2"><span class="fw-bold">Thuê vợt: </span>{{san.chiTiet.thueVot}}</div>
            </div>
            <div class="hstack mt-auto mx-auto mb-3 pt-2 gap-2">
                <button (click)="bill(san.id)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mainModal">Thanh toán</button>
                <button (click)="selected = san.id" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#huyModal">Hủy sân</button>
            </div>
            }
            }
        </div>
    </div>}
</div>
<!--Modal-->
<div class="modal fade" id="mainModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-san-detail [maSan]="selected" [state]="state"></app-san-detail>
        </div>
    </div>
</div>
<!--Modal-Hủy-->
<div class="modal fade" id="huyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Hủy lịch đặt trước sân {{selected}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Xác nhận hủy lịch sân {{selected}}?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Thoát</button>
                <button type="button" (click)="huySan(selected)" class="btn btn-danger" data-bs-dismiss="modal">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>
