td, th {
    text-align: center;
    padding: 5px 10px;
}

th {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: lightblue;
}

tr:hover {
    background-color: rgb(240, 237, 237);
    cursor: pointer;
}