<div class="container">
    @if (loading) { 
        <div class="text-center w-100" style="margin-top: 100px;">
            <div class="spinner-border" style="width: 100px; height: 100px" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
}
@else {
    <h1>Doanh thu ngày {{today}}</h1>
    <div>
        <div class="d-flex my-3">
            <h2>{{totalRevenue.toLocaleString("vi-VN")}} vnđ</h2>
            <button class="excel" (click)="xlsx()">
                <img width="36px" height="36px" src="/assets/xls.png">
                Xuất file excel
            </button>
        </div>
        <div class="d-flex gap-3">
            <table>
                @for (tab of tabLst; track $index) {
                <tr>
                    <th>{{tab}}</th>
                    <td>{{calcRevenue(dbLst[$index]).toLocaleString("vi-VN")}} vnđ</td>
                </tr>
                }
            </table>
            <table>
                <tr>
                    <th>Tiền mặt</th>
                    <td>{{calcRevenue(tienMat$).toLocaleString("vi-VN")}} vnđ</td>
                </tr>
                <tr>
                    <th>Chuyển khoản</th>
                    <td>{{calcRevenue(chuyenKhoan$).toLocaleString("vi-VN")}} vnđ</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="detail-nav">
            @for (category of tabLst; track $index) {
            <p (click)="changeTab(category)" [ngClass]="{'active_tab': currentTab == category}">{{category}}</p>
            }
        </div>
        <div class="d-flex justify-content-center">
            <table id="revenue">
                @if(currentTab == "Sân"){
                <thead>
                    <th>STT</th>
                    <th>Giờ vào</th>
                    <th>Sân</th>
                    <th style="min-width: 200px">Khách hàng</th>
                    <th style="min-width: 150px">SĐT</th>
                    <th>Số giờ thuê</th>
                    <th>Phương thức</th>
                    <th style="min-width: 150px">Tổng tiền</th>
                </thead>
                <tbody>
                    @for (data of currentRev; track $index) {
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{data.checkIn}}</td>
                        <td>{{data.san}}</td>
                        <td class="text-start">{{data.ten}}</td>
                        <td>{{data.sdt}}</td>
                        <td>{{data.sogioThue}}</td>
                        <td style="min-width: 122px;">{{data.hinhthucTT}}</td>
                        <td class="text-end">{{data.soTien.toLocaleString("vi-VN")}} vnđ</td>
                    </tr>
                    }
                </tbody>}
                <!-- @else {
                <thead>
                    <th>STT</th>
                    <th>Tên dịch vụ</th>
                    <th>Thời gian</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                </thead>
                <tbody>
                    @for (data of currentRev; track $index) {
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{data.tenDV}}</td>
                        <td>{{data.thoiGian}}</td>
                        <td>{{data.soLuong}}</td>
                        <td class="text-end">{{data.soTien.toLocaleString("vi-VN")}} vnđ</td>
                    </tr>
                    }
                </tbody>} -->
            </table>
        </div>
    </div>}
</div>