th,
td {
    padding: 0 10px;
    border: 1px solid black;
}

th {
    background-color: rgb(169, 220, 222);
    text-align: start;
    padding-right: 20px;
}

td {
    text-align: end;
}

.detail-nav {
    margin: 25px 40px;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid black;
    gap: 25px;
}

.detail-nav p {
    margin-bottom: 0;
    cursor: pointer;
}

.active_tab {
    font-weight: bold;
    color: black;
}

#revenue th,
#revenue td {
    /* border: none; */
    border-left: none;
    border-right: none;
    text-align: center;
}

#revenue tr:nth-child(even) {
    background-color: rgb(219, 230, 233);
}

.excel {
    background-color: transparent;
    margin-left: 30px;
    padding: 5px;
    border-radius: 10px;
}