<div class="h-100 d-flex flex-nowrap">
    <div class="flex-shrink-0" style="background-color: thistle;">
        <div class="vstack text-nowrap">
            <nav routerLink="main" routerLinkActive="active-nav">Quản lý sân</nav>
            <nav routerLink="khach-hang" routerLinkActive="active-nav">Quản lý khách hàng</nav>
            <nav><a href="https://calendar.google.com/calendar/u/3/r?pli=1" target="_blank">Lịch đặt trước</a></nav>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>