nav {
    padding: 20px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

a {
    margin: 0 auto;
    padding: 10px;
    background-color: aquamarine;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

.active-nav {
    background-color: darkmagenta;
}