<div class="d-flex flex-nowrap">
    <div class="flex-shrink-0" style="background-color: thistle;">
        <div class="vstack text-nowrap" style="height: 1080px">
            <nav routerLink="trang-chu" routerLinkActive="active-nav">Quản lý sân</nav>
            <nav routerLink="khach-hang" routerLinkActive="active-nav">Quản lý khách hàng</nav>
            <nav routerLink="doanh-thu" routerLinkActive="active-nav">Doanh thu ngày</nav>
            <nav routerLink="lich-dat-truoc" routerLinkActive="active-nav">Lịch đặt trước</nav>
        </div>
    </div>
    <div class="flex-fill">
        <router-outlet></router-outlet>
    </div>
</div>